<h1>Generic Photos</h1>

<button class="new-btn"
        [routerLink]="['new']">Add Photo</button>

<div class="template-container"
     *ngFor="let upload of uploads">
  <div class="template-image">
    <!--<img src="{{template.main_img}}" alt="{{template.name}}">-->
  </div>
  <div class="template-description">
    {{upload.name}}
  </div>
  <div class="template-buttons">
    <button class="delete-btn"
            (click)="onDeletePicture(upload)">Delete</button>
    <button class="edit-btn"
            [routerLink]="[upload.name]">View</button>
  </div>
</div>

