.image-container {
  display: block;
  /*float: left;*/
  width: 25%;
  height: auto;
  padding: 0;
  /*position: relative;*/
}
img {
  max-width: 50%;
  max-height: 50%;
}
.image-title {
  margin: 0;
  background-color: rgba(0,0,0, .5);
  /*transform: translateY(-100%);*/
}
.image-title h1 {
  color: #fff;
  font-size: 85%;
}

h1 {
  margin: 10px 0 0 20px;
  width: 20px;
}
button {
  font-size: 100%;
}
.new-btn {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: 20px;
  margin-top: 30px;
  background-color: #1db909;
}
.new-btn:hover {
  background-color: #1baa08;
}

.template-container {
  background-color: white;
  margin: 20px;
  width: 17.5%;
  height: 33%;
  position: relative;
  float: left;
}

.template-image {
  background-color: gray;
  width: 100%;
  height: 200px;
}

.template-description {
  background-color: lightgray;
  height: 44px;
  font-size: 110%;
  padding: 5px;
}

.template-buttons {
  position: absolute;
  bottom: -2px;
  right: 5px;
  height: 20%;
}

.template-buttons button  {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.edit-btn:hover {
  background-color: #0050c7;
}
.delete-btn:hover {
  background-color: #cc0000;
}

button:focus {
  outline: none;
}

.edit-btn {
  background-color: #005ce6;

}
.delete-btn {
  background-color: #e60000;
}

.site-nav {
  margin-left: 0;
  margin-top: 20px;
}
.site-nav ul {
  margin: 0 0 0 20px;
  padding: 0;
}
.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  /*border: 3px solid #fff;*/
  border-bottom: none;
  background-color: #f49542;
  border-radius: 3px;
  cursor: pointer;
}
.site-nav a:hover {
  background-color: #cf670c;
}

.selected {
  background-color: #cf670c;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
