/*.admin-header {*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: 40px;*/
  /*padding: 10px;*/
  /*margin-top: 0;*/
  /*margin-bottom: 30px;*/
  /*display: block;*/
  /*background-color: gray;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
/*}*/
/*p {*/
  /*position: absolute;*/
  /*top: 0px;*/
  /*font-size: 180%;*/
  /*color: white;*/
/*}*/
/*.logout {*/
  /*position: absolute;*/
  /*right: 40px;*/
  /*top: 32px;*/
/*}*/
/*.logout:hover {*/
  /*color: #fff;;*/
/*}*/
/*a {*/
  /*display: block;*/
  /*color: #fff;*/
  /*border: none;*/
  /*!*padding: 12px 26px;*!*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*margin-left: 0px;*/
  /*float: left;*/
/*}*/
/*!*a:hover {*!*/
  /*!*background-color: white;*!*/
/*!*}*!*/

/*.admin-body{*/
  /*!*position: absolute;*!*/
  /*!*top: 70px;*!*/
/*}*/

/*.group:before,*/
/*.group:after {*/
  /*content: "";*/
  /*display: table;*/
/*}*/
/*.group:after {*/
  /*clear: both;*/
/*}*/
/*.group {*/
  /*zoom: 1;*/
/*}*/
/*.site-nav {*/
  /*position: absolute;*/
  /*top: 32px;*/
  /*margin-left: 45px;*/
  /*margin-top: 0;*/
/*}*/
/*.site-nav ul {*/
  /*margin: 0 0 0 50px;*/
  /*padding: 0;*/
/*}*/
/*.site-nav li {*/
  /*list-style: none;*/
  /*float: left;*/
  /*margin-right: 0;*/
/*}*/
a {
  display: block;
  color: #e3e3e3;
  text-decoration: none;
  padding: 5px 10px;
  line-hieght: 15px;
  /*border: 3px solid #fff;*/
  border-bottom: none;
  /*background-color: #f49542;*/
  cursor: pointer;
}
a:hover {
  color: white;
}


ul {
  list-style: none;
}

#logout {
  position: absolute;
  right: 0;
}
nav {
  background-color: #555459;
  border-radius: 0;
}
.selected {
  color: white;
}
