<div class="admin-header">
  <p>
    Admin
  </p>
  <nav class="site-nav">
    <ul class="group">
      <li><a (click)="onNavChange('Templates')"
             [class.selected]="selectedNav === 'Templates'">Hello World</a></li>
      <li><a (click)="onNavChange('Generic Photos')"
             [class.selected]="selectedNav === 'Generic Photos'">Generic Photos</a></li>
    </ul>
  </nav>
  <a (click)="logout()" class="logout">Logout</a>
</div>
<div class="admin-body">
  <router-outlet></router-outlet>
</div>
